<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>I am ... And you?</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=chrome">
		<meta name="theme-color" content="#272727">
		<link rel="manifest" href="../manifest.json">
		<link rel="shortcut icon" href="../images/AppIcons/favicon.ico" type="image/x-icon">
		<script src="https://kit.fontawesome.com/bf3175746f.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="../assets/css/main.css" />
		<link rel="stylesheet" href="../assets/css/classstyle.css">
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
		<div id="wrapper">

			<!-- Header -->
			<header id="header">
				<h1><a href="../index.html">My English Portfolio</a></h1>
				<nav class="links">
					<ul>
						<li><a href="iam.html">I AM...</a></li>
						<li><a href="whatsyour.html">What's Your...</a></li>
						<li><a href="famous.html">A Famous People</a></li>
						<li><a href="profile.html">My Profile</a></li>
					</ul>
				</nav>
				<nav class="main">
					<ul>
						<li class="search">
							<a class="fa-search" href="#search">Pesquise</a>
							<form id="search" method="get" action="#">
								<input type="text" name="query" placeholder="Search" />
							</form>
						</li>
						<li class="menu">
							<a class="fa-bars" href="#menu">Menu</a>
						</li>
					</ul>
				</nav>
			</header>

			<!-- Menu -->
			<section id="menu">

				<!-- Search -->
				<section>
					<form class="search" method="get" action="#">
						<input type="text" name="query" placeholder="Search" />
					</form>
				</section>

				<!-- Links -->
				<section>
					<ul class="links">
						<li>
							<a href="iam.html">
								<h3>I am ... And you?</h3>
								<p>Countries and Nationalities</p>
							</a>
						</li>
						<li>
							<a href="whatsyour.html">
								<h3>What's your ...?</h3>
								<p>First name, last name, college name, company name, email address, phone number...</p>
							</a>
						</li>
						<li>
							<a href="famous.html">
								<h3>A Famous People</h3>
								<p>I'm a famous person and I'm going to a party.</p>
							</a>
						</li>
						<li>
							<a href="profile.html">
								<h3>My Personal Profile</h3>
								<p>I'm a famous person now and I'm going to talk about myself.</p>
							</a>
						</li>
						<li>
							<a href="partyfamily.html">
								<h3>A Family Party!!!</h3>
								<p>I'm still a famous person and I'm going to talk about my relatives now.</p>
							</a>
						</li>
						<li>
							<a href="personalities.html">
								<h3>personalities and Characteristics</h3>
								<p>People's characteristics and personalities.</p>
							</a>
						</li>
						<li>
							<a href="birthday.html">
								<h3>When is your birthday?</h3>
								<p>Do you know when your birthday is?</p>
							</a>
						</li>
					</ul>
				</section>
			</section>

			<!-- Main -->
			<div id="main">
				<div>
					<h1>Where are you from?</h1>
					<ul class="countries">
						<li>
							<img class="image featured" src="https://cdn-icons-png.flaticon.com/512/330/330430.png" alt="">
						</li>
						<li>
							<img class="image featured" src="https://cdn-icons-png.flaticon.com/512/330/330591.png" alt="">
						</li>
						<li>
							<img class="image featured" src="https://cdn-icons-png.flaticon.com/512/330/330557.png" alt="">
						</li>
						<li>
							<img class="image featured" src="https://cdn-icons-png.flaticon.com/512/330/330490.png" alt="">
						</li>
					</ul>
				</div>
				<div  class="grid-main" >
					<div class="grid-item">
						<!-- <iframe class="image featured"  width="560" height="315" src="https://www.cambridge.org/files/2915/3416/1054/UNIT_1_L1_ANDERSON.mp4" title="Cambridge Video Player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
						<video src="https://www.cambridge.org/files/2915/3416/1054/UNIT_1_L1_ANDERSON.mp4"  class="image featured"  width="560" height="315" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></video> autoplay="autoplay" -->
					</div>
					<div class="grid-item">
							<div class="chat-container">
								
								<div class="message received">
									<img class="avatar" src="https://ogimg.infoglobo.com.br/in/24907109-c86-bcf/FT1086A/avatar-a-lenda-de-aang.jpg" alt="Avatar">				
									<div class="text">Como posso ajudá-lo hoje?</div>
								</div>
								
								<div class="message sent">	
									<img class="avatar" align="right" src="https://ogimg.infoglobo.com.br/in/24907109-c86-bcf/FT1086A/avatar-a-lenda-de-aang.jpg" alt="Avatar">				
									<div class="text">Como posso ajudá-lo hoje?</div>
								</div>

								<div class="message received">
									<img class="avatar" src="https://ogimg.infoglobo.com.br/in/24907109-c86-bcf/FT1086A/avatar-a-lenda-de-aang.jpg" alt="Avatar">				
									<div class="text">Como posso ajudá-lo hoje?</div>
								</div>

								<div class="message sent">
									<img class="avatar" src="https://ogimg.infoglobo.com.br/in/24907109-c86-bcf/FT1086A/avatar-a-lenda-de-aang.jpg" alt="Avatar">				
									<div class="text">Como posso ajudá-lo hoje?</div>
								</div>

								<div class="message received">
									<img class="avatar" src="https://ogimg.infoglobo.com.br/in/24907109-c86-bcf/FT1086A/avatar-a-lenda-de-aang.jpg" alt="Avatar">				
									<div class="text">Como posso ajudá-lo hoje?</div>
								</div>

								<div class="message sent">
									<img class="avatar" src="https://ogimg.infoglobo.com.br/in/24907109-c86-bcf/FT1086A/avatar-a-lenda-de-aang.jpg" alt="Avatar">				
									<div class="text">Como posso ajudá-lo hoje?</div>
								</div>
							</div>
					</div>
					<div class="grid-item">3

					</div>
					<div class="grid-item">
						<video class="image featured"  width="560" height="315"controls="controls" title="Cambridge Video Player" frameborder="0" >
							<source src="https://www.cambridge.org/files/2915/3416/1054/UNIT_1_L1_ANDERSON.mp4" type="video/mp4">
							<object data="" class="image featured"  width="560" height="315">
							<embed class="image featured"  width="560" height="315" src="https://www.cambridge.org/files/2915/3416/1054/UNIT_1_L1_ANDERSON.mp4">
							</object>
						</video>
					</div>
				</div>
			</div>
		</div>

        <!-- Scripts -->
        <script>navigator.serviceWorker.register("service-worker.js")</script> 
        <script src="../assets/js/jquery.min.js"></script>
        <script src="../assets/js/browser.min.js"></script>
        <script src="../assets/js/breakpoints.min.js"></script>
        <script src="../assets/js/util.js"></script>
        <script src="../assets/js/main.js"></script>
        <script>
            let newWorker;
            if ('serviceWorker' in navigator) {
                navigator.serviceWorker.register('../service-worker.js').then(reg => {
                    reg.addEventListener('updatefound', () => {
                        // A wild service worker has appeared in reg.installing!
                        newWorker = reg.installing;
                        newWorker.addEventListener('statechange', () => {
                            // Has network.state changed?
                            switch (newWorker.state) {
                                case 'installed':
                                if (navigator.serviceWorker.controller) {
                                    // new update available
                                }
                                // No update available
                                break;
                            }
                        });
                    });
                });
                let refreshing;
                navigator.serviceWorker.addEventListener('controllerchange', function () {
                    if (refreshing) return;
                    window.location.reload();
                    refreshing = true;
                });
            }
        </script>
    </body>
</html>